<mat-toolbar color="primary">
    <span>TransparentCDN App</span>
</mat-toolbar>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content><br>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" [(ngModel)]="email" [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field><br><br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="login(email, password)" color="primary">Login</button>
    </mat-card-actions>
</mat-card>
